doctype html
html
    head
        title 我的备忘录
        script(src="/javascripts/angular.js")
        link(rel="stylesheet",type="text/css",href="stylesheets/main.css")
    body
        block content